<!DOCTYPE html>
<html lang="en">
<head>
    <!-- link til cheat sheet: https://hackerthemes.com/bootstrap-cheatsheet/ -->
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>    <!-- Getting jquery library from google -->
    <script src="../static/js/jquery_functions.js"></script>     <!-- Where we store our own jquery functions -->
    <!-- Set page width to screen size -->
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <!--Link til Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>{% block title %}Alpha{% endblock %}</title>
</head>
<body>

    {% block header %}{% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}

    <!-- Link til Bootstrap CDN, javascript. Mæ stå nederst i body -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>