{% extends 'base.html' %}


<style>
label {
    cursor: default;
}
</style>


{% block header %}
    <button type="button" id="next_btn">Next</button>
{% endblock %}


{% block content %}
    <h1>{{ question }}</h1>
    <form action="" method="post">
    {% csrf_token %}

        <input type="radio" name="choosen" id="ans_1" value="1">
        <label for="ans_1">{{ alt_1 }}</label><br>

        <input type="radio" name="choosen" id="ans_2" value="2">
        <label for="ans_2">{{ alt_2 }}</label><br>

        <input type="radio" name="choosen" id="ans_3" value="3">
        <label for="ans_3">{{ alt_3 }}</label><br>

        <input type="radio" name="choosen" id="ans_4" value="4">
        <label for="ans_4">{{ alt_4 }}</label><br>

        <br>
        <input type="submit" value="Check">
    </form>
{% endblock %}